@import url('https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:wght@400;500;600;700;800&family=Inter:wght@400;500;600&display=swap');
@import "tailwindcss";

@theme {
  --font-headline: "Plus Jakarta Sans", ui-sans-serif, system-ui, sans-serif;
  --font-body: "Inter", ui-sans-serif, system-ui, sans-serif;
  
  --color-primary: #b6112a;
  --color-primary-container: #ff7576;
  --color-secondary: #934600;
  --color-secondary-container: #ffc6a2;
  --color-surface: #f9f6f5;
  --color-surface-container: #eae8e7;
  --color-surface-container-low: #f3f0f0;
  --color-surface-container-lowest: #ffffff;
  --color-on-surface: #2f2f2f;
  --color-on-surface-variant: #5c5b5b;
}

@layer base {
  body {
    @apply bg-surface text-on-surface font-body antialiased;
  }
}

.no-scrollbar::-webkit-scrollbar {
  display: none;
}
.no-scrollbar {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.custom-popup .leaflet-popup-content-wrapper {
  @apply rounded-3xl p-0 overflow-hidden shadow-2xl;
}
.custom-popup .leaflet-popup-content {
  @apply m-0;
}
